body{
    font-family: 'Ubuntu', 'Lora', serif, sans-serif;
    margin: 0px auto;
    padding: 0px;
    color: black;
}

body *
{
    /* border: 1px solid red; */
}

div, p , input, button, form, span, a ,ul, li, h1, h2, h3{
    box-sizing: border-box;
}

.logo{
    /* margin-top: 65px; */
}

.container{
    width: 1170px;
    margin: 0px auto;
    padding: 100px 0px;
    /* border: 1px solid red; */
}

.header{
    background: rgb(78,190,254);
    background: linear-gradient(120deg, rgba(78,190,254,1) 0%, rgba(60,154,225,1) 100%);
    background-size: cover;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer{
    /* margin-top: 105px; */
    /* margin-right: -40px; */
    /* padding-top:105px; */
    width: 490px;
    color: white;
}

.button{
    display:block;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    background-color: #ffd429;
    width: 225px;
    padding: 17px;
    margin-top: 15px;
    text-decoration:none;
    text-align: center;
}

.offer-h1, .h1-size-up{
    font-weight: bold;
    /* margin-bottom: -10px; */
    margin-top: 0px;

}

.offer-h1{
    width:560px;
    font-size: 37px;
}

.h1-size-up{
    font-size: 59px;
    padding: 0px;
}

.intro{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 405px;
    margin-top: 5px;
    line-height: 1.6em;
    color: #e1e1e1;
}

section{
    margin: 0px auto;

}


.title-h2{
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 60px;
}

.container-benefits {
    display:flex;
}

div.benefits {
    flex: 1 auto;
    justify-content:space-between;
    text-align: center;
    align-items:center
}
img.img-benefit{
    margin-bottom: 35px;
    height: 75px;
}


.benefits-header,.benefits-description {
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 280px;
}
h3{
    padding-bottom: 10px;
}

.section-booking
{
    background-color: #ecf3f8;
}
.booking-container {
    /* padding: 100px 0px; */
}


.form-title {
    margin: 0px auto;
    display: block;
    text-align: center;
    margin-bottom: 60px;
}

input{
    margin: 0 auto 15px;
    width: 100%;
}

#booking-form{
    max-width: 350px;
    margin: 0px auto;
}

.booking-form {
    display: block;
    width: 350px;
}

.name,.email,.tel,.direction{
    width: 350px;
    height: 50px;
    padding-left: 20px;
    border: 1px solid #bfb8d1;
}

.button-form {
	border: 0;
	cursor: pointer;
	display: inline;
    width: 350px;
    height: 50px;
    margin: 0px auto;
}
.button-form:hover{
    background-color: rgb(255, 200, 0);
}

footer{
    background-color: #164d7a;
    color: white;
    /* padding: 60px 0px; */
}

footer > .container {
    padding: 60px 0px;
}


.credits{
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
}

/*Responsive*/


/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .wrapper{
        padding-top: 40px;

    }
    .offer, .img-banner{
        width:50%;
    }
    .container{
        width: 960px;
    }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container, .container-benefits {
		width: 720px;
        /* flex-direction: column;
        justify-content: end; */
        /* padding: 0px;
        margin: 0px; */
	}
	 .wrapper {
		flex-direction: column;
        /* justify-content: center; */
        /* width:700px; */
        /* border: 1px solid blue; */
        /* padding: 0px;
        margin: 0px; */
	}
    .offer{
        align-items: center;
        width: 100%;;
        margin: 0 auto;
    }
    .benefits{
        margin-bottom: 100px;
    }

    .offer{
        /* width: 450px; */
        margin-bottom: 40px;
    }
    
    .img-banner{
        width:100%;
    }
    .title-h2
    {
        margin-top:0px;
    }

    .offer > .button{
        width: 400px;
    }

    .offer-h1{
        margin-bottom: -4px;
    }

}

/* 576px - 768px */
@media screen and (max-width: 768px) {
    .container {
		width: 95%;
	}
}

/* 320px - 576px */
@media screen and (max-width: 576px) {

}